<!-- <link rel="stylesheet" href="account-list.component.css"> -->
<br>
<div class="container-header">
    <h1>My Accounts</h1>
</div>

<div style="margin-top: 2%;">
    <button class="col-md-6 offset-md-3 btn btn-primary" type="button" (click)="displayData()">View Accounts</button>
</div>

<div *ngIf="userAccountsDisplayed" class="container">

    <table class="table table-striped" style="font-size:medium; color:#fff;">

        <thead>

            <tr>

                <th>Number: </th>

                <th>Name: </th>

                <th>Balance: </th>

                <th>Date Opened: </th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let account of allAccounts; let i = index;
            let even = even;

            let odd = odd" [ngClass]="{ odd: odd, even: even }">
                <style>
                    td {
                        color: antiquewhite
                    }
                </style>

                <td>{{ i+1 }}</td>

                <td>{{ account.acctName }}</td>

                <td>{{ account.balance | currency }}</td>

                <td>{{ account.openingDate | date: 'shortDate' }}</td>

            </tr>

        </tbody>

    </table>

</div>



<!--
<div class="container">

    <br>
    <br>
   

    <div class="row">
        <a *ngFor="let account of accounts">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats" style="width: 14rem;">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">Account Type</i>
                        </div>
                        <h3 class="card-title">{{account.acct_name}}
                        </h3>
                        <p class="card-category">{{account.dtype}}</p>

                        <small class="text"></small>
                    </div>
                    <div class="card-footer white" id="card-footer" style="height: 3rem;">

                        <div id="colLeft">Balance:
                        </div>
                        <div id="colwrap">
                            <div id="colRight">${{account.balance}}</div>
                            <div id="colCenter" class="text-blue blue-darken 4"></div>

                        </div>
                    </div>
                </div>
            </div>
        </a>

    </div>
</div>
<div>
     <app-account-form></app-account-form> routerLink="/accounts/userAccounts/{{currentUser.id}}"   
  -->