h1 {
    color: beige;
    text-align: center;
}

.odd {
    text-decoration-color: blanchedalmond;
    background-color: rgba(0, 123, 255, 0.3);
    font-size: medium;
}

.even {
    text-decoration-color: black;
    background-color: rgba(0, 123, 255, 0.3);
    font-size: medium;
}

tbody.td.odd {
    color: rgb(10, 10, 10);
}

tbody.td.even {
    color: blanchedalmond;
}