<form [formGroup]="createAccountForm" (ngSubmit)="onSubmitOfSavings()">

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputFirstName">Account Name:</label>
            <input type="text" formControlName="acctName" class="form-control" id="acctName" required placeholder="First">
            <div *ngIf="acctName.errors?.pattern">Account name not valid</div>
            <div *ngIf="acctName.errors?.required">Account name required</div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputInitial ">Initial Deposit:</label>
            <input type="text" formControlName="balance" class="form-control" id="balance" required placeholder="Last">
            <div *ngIf="balance.errors?.pattern">balance not valid</div>
            <div *ngIf="balance.errors?.required">balance required</div>
        </div>
    </div>


    <form [formGroup]="createAccountForm" (ngSubmit)="onSubmitOfChecking()">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstName">Account Name:</label>
                <input type="text" formControlName="acctName" class="form-control" id="acctName" required placeholder="First">
                <div *ngIf="acctName.errors?.pattern">Account name not valid</div>
                <div *ngIf="acctName.errors?.required">Account name required</div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputInitial ">Initial Deposit:</label>
                <input type="text" formControlName="balance" class="form-control" id="balance" required placeholder="Last">
                <div *ngIf="balance.errors?.pattern">balance not valid</div>
                <div *ngIf="balance.errors?.required">balance required</div>
            </div>
        </div>



        <!-- <div class="container">
    <h6>Add a new account to track here.</h6>
    <div class="card my-5">
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" #accountForm="ngForm">
                <div class="form-group">
                    <label for="accountName">Account Name</label>
                    <input type="text" [(ngModel)]="accountType" class="form-control" id="accountName" name="accountName" placeholder="Enter a name for your account" required #type="ngModel">
                </div>
                <div class="form-group">
                    <label for="type">Account Type</label>
                    <input type="text" [(ngModel)]="accountType" class="form-control" id="type" name="type" placeholder="Enter the account type" required #type="ngModel">
                </div>
                <div [hidden]="!type.pristine" class="alert alert-danger">Account Type is required</div>
                <div class="form-group">
                    <label for="balance">Initial Balance</label>
                    <input type="text" [(ngModel)]="account.balance" class="form-control" id="balance" name="balance" placeholder="Enter your Initial Balance" required #balance="ngModel">
                    <div [hidden]="!balance.pristine" class="alert alert-danger">Initial Balance is required</div>
                </div>
                <button type="submit" [disabled]="!accountForm.form.valid" class="btn btn-info">Submit</button>
            </form>
        </div>
    </div>
</div> -->